@import "tailwindcss";

@theme {
  --color-primary: #e7e4eb;
  /* Purple for light mode */
  --color-prPrimary: #a78bfa;
  /* Lighter purple for dark mode */
  --color-background: #FDFDFF;
  /* White for light mode */
  --color-surface: #f3f4f6;
  /* Light gray for light mode */
  --color-text: #111827;
  /* Dark gray for light mode */
}

.dark {
  --color-primary: #a78bfa;
  /* Lighter purple for dark mode */
  --color-background: #121212;
  /* Dark gray for dark mode */
  --color-surface: #1f1f1f;
  /* Darker gray for dark mode */
  --color-text: #f9fafb;
  /* Light gray for dark mode */
}